<template>
    <div class="main-timeline">
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import ITimeline from '../timeline/Timeline.interface';
import IMainTimeline from './MainTimeline.interface';

@Component({})
export default class MainTimeline extends Vue implements IMainTimeline {

    timelines: ITimeline[] = [];

    constructor() {
        super();
    }
}
</script>

<style>
</style>
