<template>
    <div class="timeline-event">
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import ITimelineEvent from './TimelineEvent.interface';

@Component({})
export default class TimelineEvent extends Vue implements ITimelineEvent {

    era: 'bce' | 'ce' = 'ce';

    startYear: number | undefined = undefined;

    endYear: number | undefined = undefined;

    isStartApproximate: boolean = false;

    isEndApproximate: boolean = false;

    constructor() {
        super();
    }
}
</script>

<style>
</style>
