<template>
    <div class="timeline">
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component';
import ITimelineEvent from '../timeline-event/TimelineEvent.interface';
import ITimeline from './Timeline.interface';

@Component({})
export default class Timeline extends Vue implements ITimeline {

    timelineName: string | undefined = undefined;

    timelineWeight: number = 0;

    events: ITimelineEvent[] = [];

    constructor() {
        super();
    }
}
</script>

<style>
</style>
